# Ignorar pastas temporárias do Python
__pycache__/
*.pyc

# Ignorar configurações locais do VS Code
.vscode/

# Ignorar os relatórios gerados pelo seu sistema
*.csv

# ABRIR EXCEÇÃO: Não ignore o arquivo de exemplo dentro da pasta data
!data/exemplo_relatorio.csv